# archivo de configuración para ansible-galaxy
# Fuente: https://docs.ansible.com/projects/ansible/latest/reference_appendices/config.html

[defaults]
# hosts.ini es generado Terraform (terraform/ansible.tf).
# le indicamos a Ansible donde está nuestro fichero de inventario, evitandonos indicarle com parámetro de la línea de comando.
inventory = ./hosts.ini

# se desactiva la comprobación de la clave SSH 
host_key_checking = False

# que no genere archivos
retry_files_enabled = False

# incrementa el tiempo de espera general de 10 a 30 segons
timeout = 30 

# formato de salida en la terminal más legible
stdout_callback = default
callback_result_format = yaml

[ssh_connection]
# Envia un paquete de control cada 15 segundos para mantener la conexión abierta
ssh_args = -o ServerAliveInterval=15 -o ServerAliveCountMax=3
# Activa el pipelining para hacer Ansible más ràpid, ya que utiliza la misma conexión, en vez de abrir una por cada tarea
pipelining = True

# en este apartado indicamos los privilegios que tendrá Ansible al ejecutar las tareas
[privilege_escalation]
become = True
become_method = sudo